<h1 class="text-center m-5">¿Necesitas ayuda? Dirígete a donde quieras.
</h1>
<div class="container text-center">
    <ul>
        <li class="p-2"><a href="auth/login">llévame al login</a></li>
        <li><a href="auth/registro">llévame al Registro</a></li>
        <li class="p-2"><a href="heroes/listado">Llévame al listado de Heroes</a></li>
        <li class="p-2"><a href="heroes/agregar">Llévame a  agregar Heroes</a></li>
        <li class="p-2"><a href="heroes/editar/:id">Llévame a editar Heroes</a></li>
        <li class="p-2"><a href="heroes/buscar">Llévame a buscar Heroes</a></li>
    </ul>
</div>